repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
    - id: check-added-large-files # prevents adding large files
    - id: detect-private-key # detects private keys
    - id: fix-byte-order-marker # fixes BOM
    - id: fix-encoding-pragma # fixes encoding pragma
    - id: no-commit-to-branch # prevents committing to protected branches
    - id: trailing-whitespace # prevents trailing whitespace
