name: Deploy docs

on:
  push:
    branches:
      - main
    paths:
      - ".github/workflows/lib-*"
      - "lib/**/*"

jobs:
  docs:
    name: Deploy docs
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: "3.10.x"

      - name: Upgrade pip
        run: |
          pip install -U pip poetry

      - name: Install package and doc dependencies
        run: |
          cd lib/
          poetry install

      - name: Generate docs
        run: |
          cd lib/
          poetry run docs

      - name: Deploy docs
        uses: JamesIves/github-pages-deploy-action@v4.2.3
        with:
          branch: gh-pages
          folder: lib/docs/fhir_utils
